#login{
	float: right;
}

#logo
{
    height: 150px;
    width: 320px;
}

form#log_in{
    outline-color: black;
    outline-width: thin;
    outline-style: solid;
    background-color: #CCCC99;
    width: 95%;
    margin-left: 2%;
    height: 400px;
    text-align: center;
}

form#create_account{
    outline-color: black;
    outline-width: thin;
    outline-style: solid;
    background-color: #CCCC99;
    width: 95%;
    margin-left: 2%
    height: 400px;
    text-align: center;

}

input#search_bar{
    float: right;
}

div#create_format{
    outline-color: black;
    outline-width: thin;
    outline-style: solid;
    background-color: #FFFFFF;
    margin-left: 1%;
    margin-right: 1%;
    height: 750px;
}

div#header_format{
    outline-color: black;
    outline-width: thin;
    outline-style: solid;
    background-color: #CCCC99;
    text-align: center;
}

p#user_taken{
	display: none;
}