#login{
	float: right;
}

body{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", 
                     "Helvetica Neue", sans-serif;
    height: 70%;
    margin : 0px;
    padding: 0px;
}

h1
{
    font-weight: 100;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.header
{
    margin-bottom: 0px;
    padding: 10px;
    padding-bottom: 0px;
}

.gradient
{
    background-color: #F0F0F0;
    background: -webkit-linear-gradient(#D0D0D0, #F0F0F0);
    background: -moz-linear-gradient(#D0D0D0, #F0F0F0);
    background: -ms-linear-gradient(#D0D0D0, #F0F0F0);
    background: -o-linear-gradient(#D0D0D0, #F0F0F0);
    background: linear-gradient(#D0D0D0, #F0F0F0);

    box-shadow: inset #D0D0D0 0 1px 0,
                inset #F0F0F0 0 -1px 0,
                rgba(0,0,0,0.25) 0 1px 5px;
}

#logo
{
    height: 150px;
    width: 320px;
}

form#log_in{
    width: 40%;
    margin-left: 2%;
    height: 400px;
    text-align: center;
    border-radius: 15px;
    float: left;
}

form#create_account{
    width: 40%;
    margin-right: 2%;
    text-align: center;
    float: right;
    border-radius: 15px;
}

input#search_bar{
    float: right;
}

div#create_format{
    margin-left: 1%;
    margin-right: 1%;
    height: 500px;
    border-radius: 15px;
}

div#header_format{
    text-align: center;
    border-radius: 15px;
}

p#login_failed{
    display: none;
}

p#user_taken{
	display: none;
}
