form#log_in{
    outline-color: black;
    outline-width: thin;
    outline-style: solid;
    background-color: #CCCC99;
    width: 45%;
    margin-left: 2%;
    height: 400px;
    text-align: center;
}

form#create_account{
    outline-color: black;
    outline-width: thin;
    outline-style: solid;
    background-color: #CCCC99;
    width: 45%;
    margin-right: 2%;
    height: 400px;
    text-align: center;
    float: right;
}

input#search_bar{
    float: right;
}

div#create_format{
    outline-color: black;
    outline-width: thin;
    outline-style: solid;
    background-color: #FFFFFF;
    margin-left: 1%;
    margin-right: 1%;
    height: 500px;
}

div#header_format{
    outline-color: black;
    outline-width: thin;
    outline-style: solid;
    background-color: #CCCC99;
    text-align: center;
}