#log_in{
    outline-color: black;
    outline-width: thin;
    outline-style: solid;
    background-color: #CCCC99;
    width: 45%;
    margin-left: 2%;
    height: 400px;
    text-align: center;
}

#create_account{
    outline-color: black;
    outline-width: thin;
    outline-style: solid;
    background-color: #CCCC99;
    width: 45%;
    margin-right: 2%;
    height: 400px;
    text-align: center;
    float: right;
}

#test{
    float: right;
}

#test2{
    outline-color: black;
    outline-width: thin;
    outline-style: solid;
    background-color: #FFFFFF;
    margin-left: 1%;
    margin-right: 1%;
    height: 500px;
}

#test3{
    outline-color: black;
    outline-width: thin;
    outline-style: solid;
    background-color: #CCCC99;
    text-align: center;
}