#logo
{
    height: 150px;
    width: 320px;
}

#login{
	float: right;
}

#chart_div{
	float: left;
}
#chart_div2{
	float:right;
}
input#search_bar{
	    float: right;
}

.header
{
    margin-bottom: 0px;
    padding: 10px;
    padding-bottom: 0px;
}