#logo
{
    height: 150px;
    width: 320px;
}

#login{
	float: right;
}

#chart_div{
	float: left;
	width : 45%; 
	height:300px;
}
#chart_div2{
	float: right;
	width: 45%;
	height: 300;
}
input#search_bar{
	    float: right;
}